@media print {
  body, html {
    margin: 0;
    padding: 0;
  }
  .resume-container {
    width: 100%;
    font-family: serif;
  }
}

.resume-container {
  padding: 16px;
  font-family: var(--font-ui);
} 